/**
 * Grid Block styles.
 * These styles are loaded into both the editor, and the frontend.
 */

@import './constants.scss';

/**
 * Individual Column Options
 */

.wp-block-gutengrid-editor .wp-block-gutengrid-column,
.wp-block-gutengrid .wp-block-gutengrid-column {

	// When a column has a background color, we add negative margins to enable
	// some of the gutter to work as default padding.
	&.has-background {
		margin-left: -1px;
		margin-right: -1px;
		padding-left: 1px;
		padding-right: 1px;

		// This hack uncollapses the margins, which is important for the background color.
		padding-top: .05px;
		padding-bottom: .05px;
	}

	// Additional, user-set paddings.
	// Apply both gutter padding and user-set padding, when a background is also set.
	&.wp-block-gutengrid__padding-none {
		padding: 0px;

		&.has-background {
			padding: 0px (0px + 1px);

			// Needs a max-width in order to constrain contents.
			max-width: calc(100% + #{ (0px + 1px) * 2 });
		}
	}


}


/**
 * Parent column alignment
 */

.wp-block-gutengrid {
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}


/**
 * Individual column alignment
 */

.wp-block-gutengrid-column {

	// Allow top-aligned columns to span the full height.
	&.is-vertically-aligned-top {
		align-self: flex-start;
		height: 100%;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}


/**
 * Responsive Grid Options. Exclude these from the editor.
 */

/* autoprefixer grid: no-autoplace */
.wp-block-gutengrid {
	// display: grid;
	// grid-gap: $grid-gutter;
	// grid-template-columns: $grid-mobile;

	// // Tablet grid rules.
	// @media (min-width: #{ ($break-small) }) {

	// 	grid-template-columns: $grid-tablet;

	// }


	// Desktop grid rules.
	// @media (min-width: #{ ($break-xlarge) }) {
	// 	grid-template-columns: $grid-desktop;

	// }

	// Ensure long lines wrap in themes that don't already enforce this
	.wp-block-gutengrid-column * {
		word-break: break-word;
		word-wrap: break-word;
	}

}

// Ensure inner blocks with deliberate overflows are still constrained to column.
.wp-block-gutengrid-column {
	max-width: 100%;
}


